.Cart__header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 50px;
  margin-top: 55px;
}

.Cart__items {
  display: flex;
  flex-wrap: wrap;
}

.Cart__description {
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  flex-shrink: 1;
}
