.order__body {
  margin-top: 75px;
}
.order__header {
  display: flex;
  justify-content: left;
  color: black;
  font-size: 50px;
}

.order__items {
  display: flex;
}

.order__description {
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
