.singleProduct_setting {
  display: flex;
}

.singleProduct-description {
  margin-left: 10px;
}

.singleProduct__buy {
  display: flex;
  justify-content: space-between;
}

.singleProduct__error {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
