.userHome {
  background-color: rgb(110, 185, 110);
  margin: 0;
  padding: 0;
}

.userFirstDiv {
  margin-top: 55px;
}

.userImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.userHomeText {
  font-size: 30px;
  -webkit-font-smoothing: none;
  font-family: 'pokemon-font', monospace;
  color: rgb(255, 255, 0);
  text-align: center;
}
